# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
bower_components/

# Build output
dist/
build/
coverage/

# Environment variables
.env
.env.*

# Database and local storage
*.sqlite
*.db

# OS-specific
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Other files to ignore
package-lock.json
yarn.lock
